---
const today = new Date();
---

<footer class="py-4">
  <p class="text-sm">
    &copy; {today.getFullYear()}
    <a
      href="https://ryanfurrer.com"
      target="_blank"
      rel="noopener noreferrer"
      >Ryan Furrer<span class="sr-only">
        is the creator of this site, visit his portfolio page.</span
      ></a
    >
  </p>
</footer>
<style>
  a {
    @apply text-zinc-900 underline decoration-zinc-300 decoration-2 underline-offset-4 md:hover:decoration-zinc-600 dark:text-zinc-50 dark:decoration-zinc-700 dark:md:hover:decoration-zinc-300;
  }
</style>
